.g-header {
  height: 80px;
  background-color: var(--primary-darker);
  position: sticky;
  top: 0;
  z-index: 2;
}

.g-header .container {
  height: 100%;
}

.g-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.g-header ul {
  margin: 0;
  padding: 0;
}

.g-header li {
  list-style-type: none;
  height: 80px;
  line-height: 80px;
}

.g-header__nav li.active a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;
  width: 85%;
  height: 5px;
  background-color: var(--accent-color);
  transition: width .2s ease-in;
}

.g-header a {
  display: block;
  position: relative;
  padding: 0 1rem;
  transition: background-color .3s ease-in;
  color: var(--grey-lightest);
  font-family: var(--sans);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.g-header a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;
  width: 0;
  height: 5px;
  background-color: var(--accent-color);
  transition: width .2s ease-in;
}

.g-header li:hover a:after {
  width: 85%;
}

@media (min-width: 768px) {
  .g-header__nav {
    width: 80%;
  }
  .g-header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo {
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .g-header__nav {
    width: 60%;
  }
}
