<footer class="g-footer">
    <div class="container flex-l">
        <div class="w-33-l">
            <h2>Plan du site</h2>
            <nav class="g-footer__nav">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/pourquoi-consulter">Pourquoi consulter</a></li>
                    <li><a href="/qui-suis-je">Qui suis-je</a></li>
                    <li><a href="/cabinet-de-psychologie">Le cabinet</a></li>
                </ul>
            </nav>
        </div>
        <div class="w-33-l">
            <h2>Carole Millot Psychologue</h2>
            <h3>Diplomée de l’Université Paris V</h3>
            <p>35 rue Notre Dame de Lorette</p>
            <p>75009 Paris</p>
            <p>Consultation sur rendez-vous | 06 99 46 88 79</p>
        </div>
        <div class="w-33-l">
            <h2>Informations légales</h2>
            <p>N° ADELI : 759369069</p>
            <p>N° Siret : 51502184800012</p>
        </div>
    </div>
</footer>
