<header class="g-header">
    <div class="container flex aic jcsb">
        <div class="logo">
            <a href="/"><img src="/img/carole-millot.svg" alt="" style="width:10rem;"></a>
        </div>
        <nav class="g-header__nav">
            <ul>
                <li><a href="/pourquoi-consulter">Pourquoi consulter</a></li>
                <li><a href="/qui-suis-je">Qui suis-je</a></li>
                <li><a href="/cabinet-de-psychologie">Le cabinet</a></li>
            </ul>
        </nav>
    </div>
</header>
