<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Description }}">
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans" rel="stylesheet">
    <link rel="canonical" href="{{ .Permalink }}" />
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <!-- Open Graph -->
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if .Params.image }}
    <meta property="og:image" content="https://carole-millot-psychologue.fr{{ .Params.image }}"/>
    <meta property="og:image:secure_url" content="{{ .Params.image }}"/>
    {{ else }}
    <meta property="og:image" content="https://carole-millot-psychologue.fr/img/{{ .Site.Params.image }}"/>
    <meta property="og:image:secure_url" content="{{ .Site.Params.image }}"/>
    {{ end }}
</head>
