<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body class="g-body-container">

    {{ block "header" . }}{{ partial "header" . }}{{end}}
    <div class="g-main">
      {{ block "main" . }}{{end}}
    </div>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <script src="app.js"></script>

  </body>
</html>
