.container {
  margin: 0 auto;
  padding: .5rem;
}

.g-body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.g-page {
  flex: 1;
  background-color: var(--secondary-lighter);
}

.g-page__content {
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--grey-lightest);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.12),
  0 2px 4px 0 rgba(0,0,0,.08);
}

.g-page__content a {
    color: var(--accent-color);
}

.g-page__content li {
  list-style-type: none;
  line-height: 1.35rem;
  position: relative;
}

.g-page__content li:before {
  content: '⇝';
  font-size: 1.1rem;
  position: absolute;
  left: -25px;
  font-weight: 700;
  color: var(--primary);
}

.g-page__content svg {
  fill: var(--primary-darkest);
}


.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  .w-33-l {
    width: 33%;
  }

  .flex-l {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .g-page__main {
    width: 70%;
  }
}

