{{ define "main" }}
<div class="container g-page__content">
    <main class="g-page__main">
        <header class="o-page-main__header">
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.intro }}</p>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.333307266235352%2C48.877748910955%2C2.33910083770752%2C48.8805465408817&amp;layer=mapnik&amp;marker=48.879148627454384%2C2.3362040519714355" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.87915&amp;mlon=2.33620#map=18/48.87915/2.33620">Afficher une carte plus grande</a></small>
        </header>
        {{ .Content }}
    </main>
</div>
{{ end }}
