{{ define "main" }}
<div class="container g-page__content">
    <main class="g-page__main">
        <header class="o-page-main__header">
            <h1>{{ .Title }}</h1>
            <h2>Diplomée de l’Université Paris V</h2>
            <p>{{ .Params.intro }}</p>
        </header>
        {{ .Content }}
        <hr class="hr">
        <div class="flex-l jcsb">
            <div class="home-thumbnail">
                <h2>Pourquoi consulter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur ea, eligendi et fuga iste maiores minima nemo nesciunt numquam omnis perferendis perspiciatis quam, recusandae reiciendis soluta tempore tenetur voluptatum?</p>
                <a href="/pourquoi-consulter" class="btn btn-link">Pourquoi consulter</a>
            </div>
            <div class="home-thumbnail">
                <h2>Qui suis je</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nisi, voluptatem? Amet blanditiis cumque eos est quidem quisquam quod voluptatem. Dolores, libero non obcaecati odio quae quam quos ullam vitae!</p>
                <a href="/qui-suis-je" class="btn btn-link">Qui suis-je</a>
            </div>
            <div class="home-thumbnail">
                <h2>Le cabinet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nisi, voluptatem? Amet blanditiis cumque eos est quidem quisquam quod voluptatem. Dolores, libero non obcaecati odio quae quam quos ullam vitae!</p>
                <a href="/cabinet-de-psychologie" class="btn btn-link">Le cabinet</a>
            </div>
        </div>
    </main>
</div>

{{end}}
